<% include header %>

<div class="banner">
  <h1 class="index">&#9716;<br><span class="kolor">kolormuzeum</span></h1>
  <div class="animation">
    <div class="ani1"></div>
    <div class="ani2"></div>
    <div class="ani3"></div>
    <div class="ani4"></div>
  </div>
</div>
<div class="navknop">
  <p class="navcolor">&#9677;</p>
  <p class="navclose">
  tap to close</p>
</div>
<nav>
  <% for (var i = 0; i < categorieen.length; i++) { %>
    <a  class= '<%- categorieen[i] %>' href="/categorieen/<%- i %>">
      <div class= '<%- categorieen[i] %>-text'>

      </div>
    </a>

  <% } %>
</nav>


  <div class="container">
    <% var teller = 1; %>
    <% nieuws.forEach(function(item){ %>
      <section >
          <h2 class= '<%- item.categorieen[0] %>'>
            <a href=/items/<%- item.id %>><%- item.titel %></a>
          </h2>
          <a href=/items/<%- item.id %>><img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>"></a>

          <p class="date"><%- item.datum %></p>
          <a href=/items/<%- item.id %>>
            <p class="summary">
              <%- item.samenvatting %>
            </p>
          </a>

      </section>

      <% teller++;}); %>
  </div>


<% include footer %>
