<% include header %>


<h1 class="home"><a href="/">&#9673;</a></h1>
<section>

    <h2 class="<%- item.categorieen[0] %>">
      <%- item.titel %>
    </h2>
    <img src="/img/<%- item.afbeeldingl %>" alt="<%- item.titel %>">

    <p class="date"><%- item.datum %></p>

    <p class="parabody">
      <%- item.body %>
    </p>

    <p class="category">post in color:

      <% for (var i = 0; i < item.categorieen.length; i++) { %>
        <a href="/categorieen/<%- item.catid %>"><%- item.categorieen[i] %></a><% if (i+1< item.categorieen.length){ %>, <% } %>
      <% } %>
    </p>
</section>

<% include footer %>
